@import 'bootstrap-sprockets';
@import 'bootstrap';

$gray-medium-light: #eaeaea;

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 36px;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 14px;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 13px;
  line-height: 20px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.field {
  margin-top: 20px;
}

.actions {
  margin-top: 20px;
}

.pictures {
  margin-top: 20px;
}

.btn-actions {
  width: 100%;
}

.img-index-user {
  width: 300px;
  height: 200px;
}

.paginate-view {
  text-align: center;
}

#custom-search-input {
  margin:0;
  margin-top: 10px;
  padding: 0;
}

#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px\9;
  padding-left: 3px;
  padding-left: 4px\9;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#custom-search-input button {
  border: 0;
  background: none;
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:#D9230F;
}

.search-query:focus + button {
  z-index: 3;
}

.image-logo {
  width: 60px;
  height: 40px;
  margin-bottom: 8px;
}

.header-learning-program {
  font-size: 60px;
  text-align: center;
  margin-top: 20px;
}

.image-smooth-scroll {
  width: 100%;
  height: 100%;
  padding-left: 3px;
  padding-right: 3px;
}

.box-learning-program {
  background-color: #e5e5e5;
}

.name-learning-program {
  padding-top: 5px;
  text-align: center;
  color: #191919;
  font-size: 36px;
}

.description-learning-program {
  margin-top: 5px;
  text-align: center;
  color: #999999;
  font-size: 20px;
  padding: 2px;
}

.image-smooth-scroll-detail {
  width: 100%;
  padding: 3px;
}

.header-learning-program-detail {
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
}

.header-first {
  margin-top: 50px;
}

.image-programming-language {
  width: 30%;
  float: left;
}

.content-programming-language {
  width: 68%;
  float: right;
}

.header-content-programming-language {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.col-md-6-box {
  padding-top: 30px;
  border-style: solid;
  border-width: 1px 0px 0px 1px;
  border-color: #00bf00;
}

.col-md-6-box:hover {
  background-color: #e5e5e5;
}

.label-pending {
  background-color: yellow;
  color: black;
}

.label-started {
  background-color: green;
}

.label-finished {
  background-color: gray;
}

.subject-name-custom {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
