<%= provide :title, t("create_new_user") %>
<%= provide :button_text, t("create_new_user") %>

<h1><%= t "create_new_user" %></h1>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render "form", admin_user: @admin_user %>
    </div>
  </div>
</div>
