<% provide :title, t("home_title") %>
<% provide :title_header, t("course.create_new") %>
<% provide :submit_button, t("course.create") %>
<section id="service" class = "admin-section">
  <div class="container">
    <%= render "admin/shared/title_header" %>
    <div class = "col-md-12 padding-0 margin-bottom-20">
      <%= form_for [:admin, @course],
        html: {class: "well well-custom form-horizontal"} do |f| %>
        <%= render "form_course", f: f %>
      <% end %>
    </div>
  </div>
</section>
